{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{% static 'wiki/default.css' %}" rel="stylesheet">
	<title>{{ title }}</title>
</head>
<body>
<div id="main">
	{% block header %}{% include 'base/header.html' %}{% endblock %}
	{% block content %}{% endblock %}
	{% block footer %}{% include 'base/footer.html' %}{% endblock %}
</div>
{% block javascript %}{% endblock %}
</body>
</html>
