{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{% static 'wiki/default.css' %}" rel="stylesheet">
	<link href="{% static 'wiki/webfonts/all.min.css' %}" rel="stylesheet">
	<link rel="icon" href="{% static 'favicon.ico' %}"/>
	<title>{{ title }}</title>
</head>
<body class="text-black bg-gray-100 dark:text-gray-200 dark:bg-gray-800">
{% block topbar %}{% include 'base/topbar.html' %}{% endblock %}
{% block sidebar %}{% include 'base/sidebar.html' %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% include 'base/footer.html' %}{% endblock %}
{% block javascript %}
	<script>let staticUrl = "{% get_static_prefix %}"</script>
	<script src="{% static 'wiki/darkMode.js' %}"></script>
	<script src="{% static 'wiki/classSelector.js' %}"></script>
{% endblock %}
</body>
</html>
