{% load static %}

<nav class="bg-gray-200 dark:bg-gray-950">
	<div class="mx-auto px-2 sm:px-6 lg:px-8">
		<div class="relative flex h-16 items-center justify-between">
			<!-- Mobile menu button-->
			<div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
				<button type="button"
				        class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
				        aria-controls="mobile-menu" aria-expanded="false">
					<span class="absolute -inset-0.5"></span>
					<span class="sr-only">Open main menu</span>
					<!--
						Icon when menu is closed.

						Menu open: "hidden", Menu closed: "block"
					-->
					<svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
					     aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round"
						      d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
					</svg>
					<!--
						Icon when menu is open.

						Menu open: "block", Menu closed: "hidden"
					-->
					<svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
					     aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
					</svg>
				</button>
			</div>

			<div class="hidden flex-1 items-start justify-start sm:items-stretch sm:justify-start sm:flex">

				<div class="flex h-10 w-10 rounded-full items-center justify-center bg-gray-300 dark:bg-gray-600 hover:bg-gray-400
										dark:hover:bg-gray-700" onclick="clickClassSelector()">
					<img class="h-5 " id="current-class-icon" src="{% static 'wiki/images/peasant.png' %}" alt="Current Class">
				</div>

				<div class="hidden sm:ml-6 sm:block">
					<div class="flex space-x-4">
						{% for item in dashboard_items %}
							{% if item.active %}
								<a href="{{ item.href }}" class="rounded-md bg-gray-400 px-3 py-2 text-sm font-medium text-black 
								dark:bg-gray-700 dark:text-gray-300" aria-current="page">{{ item.text }}</a>
							{% else %}
								<a href="{{ item.href }}" class="rounded-md px-3 py-2 text-sm font-medium text-black dark:bg-gray-800 
								dark:text-gray-300 hover:bg-gray-300 dark:hover:bg-gray-700">{{ item.text }}</a>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>

			{# Right side button cluster #}
			<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
				{# Dark Mode Toggle button #}
				<button type="button"
				        class="relative rounded-full bg-gray-300 p-1 text-black hover:text-gray-700 focus:outline-none 
					        focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 dark:bg-gray-700
									dark:text-gray-400 dark:hover:text-white"
				        onclick="toggleDarkMode()">
					<span class="absolute -inset-1.5"></span>
					<i class="w-6 fas fa-sun"></i>
				</button>

				{# Notification Button #}
				<div class="relative ml-3">
					<button type="button"
					        class="relative rounded-full bg-gray-300 p-1 text-black hover:text-gray-700 focus:outline-none 
				        focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 dark:bg-gray-700
								dark:text-gray-400 dark:hover:text-white">
						<span class="absolute -inset-1.5"></span>
						<span class="sr-only">View notifications</span>
						<svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
						     aria-hidden="true">
							<path stroke-linecap="round" stroke-linejoin="round"
							      d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 
						      8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 
						      0 11-5.714 0"></path>
						</svg>
					</button>
				</div>

				<!-- profile here? -->
			</div>
		</div>
	</div>

	<!-- Mobile menu, show/hide based on menu state. -->
	{#todo: copy main topbar logic#}
	{#	<div class="sm:hidden" id="mobile-menu">#}
	{#		<div class="space-y-1 px-2 pb-3 pt-2">#}
	{#			<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->#}
	{#			<a href="#" class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white" aria-current="page">Dashboard</a>#}
	{#			<a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Team</a>#}
	{#			<a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Projects</a>#}
	{#			<a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Calendar</a>#}
	{#		</div>#}
	{#	</div>#}
</nav>

<div class="absolute bg-gray-300 dark:bg-gray-700 rounded ms-3 hidden transition-opacity" id="class-menu">
	<div class="space-y-1 px-2 pb-2 pt2">
		<button class="list-item list-none" onclick="setClass('warrior')">Warrior</button>
		<button class="list-item list-none" onclick="setClass('rogue')">Rogue</button>
		<button class="list-item list-none" onclick="setClass('wizard')">Wizard</button>
		<button class="list-item list-none" onclick="setClass('priest')">Priest</button>
		<button class="list-item list-none" onclick="setClass('monk')">Monk</button>
		<button class="list-item list-none" onclick="setClass('peasant')">Peasant</button>
	</div>
</div>
